.middle{
    display: flex;
    flex-direction: row;
}

.image{
    max-width: 200px;
    max-height:200px;
    padding:50px;
}
.block{
    padding:50px;
    max-height:50px;
    margin-top: 50px;
}
.counter{
    padding:50px;
    font-size: 50px;
    margin-top: 15px;
}
